---
---

@import "variables";
@import "mixins";

@import "vendor/bootstrap/bootstrap";
@import "vendor/fontawesome/font-awesome";
@import "vendor/hamburgers/hamburgers";

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

p {
	font-size: 20px;
}

p.small {
	font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	color: $theme-success;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

hr.icon-light,
hr.icon-primary {
	display: block;
	padding: 0;
	border: none;
	border-top: solid 5px;
	text-align: center;
	max-width: 250px;
	margin: 25px auto 30px;
}

hr.icon-light:before,
hr.icon-primary:before {
	display: inline-block;
	position: relative;
	top: -0.6em;
	font-size: 2em;
	padding: 0 0.25em;
}

hr.icon-light {
	border-color: white;
}

hr.icon-light:before {
	background-color: $theme-success;
	color: white;
}

hr.icon-primary {
	border-color: $theme-primary;
}

hr.icon-primary:before {
	background-color: white;
	color: $theme-primary;
}

.img-centered {
	margin: 0 auto;
}

header {
	text-align: center;
	background: $theme-success;
	color: white;
	.container {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	img {
		display: block;
		margin: 0 auto 20px;
	}
	.avatar {
		max-width: 256px;
	}
	.intro-text {
		.name {
			display: block;
			font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 2em;
		}
		.skills {
			font-size: 1.25em;
			font-weight: 300;
		}
	}
}

@media(min-width:768px) {
	header {
		.container {
			padding-top: 200px;
			padding-bottom: 100px;
		}
		.intro-text {
			.name {
				font-size: 4.75em;
			}
			.skills {
				font-size: 1.75em;
			}
		}
	}
}

.navbar-custom {
	background: $theme-primary;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	a:focus {
		outline: none;
	}
	.navbar-brand {
		color: white;
		&:hover,
		&:focus,
		&:active,
		&.active {
			color: white;
		}
	}
	.navbar-nav {
		letter-spacing: 1px;
		li {
			a {
				color: white;
				&:hover {
					color: $theme-success;
					outline: none;
				}
				&:focus,
				&:active {
					color: white;
				}
			}
			&.active {
				a {
					color: white;
					background: $theme-success;
					&:hover,
					&:focus,
					&:active {
						color: white;
						background: $theme-success;
					}
				}
			}
		}
	}
	.navbar-toggle {
		&:hover,
		&:focus {
			background: inherit;
		}
	}
}

@media(min-width:768px) {
	.navbar-custom {
		padding: 25px 0;
		-webkit-transition: padding 0.3s;
		-moz-transition: padding 0.3s;
		transition: padding 0.3s;
		.navbar-brand {
			font-size: 2em;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}
	}
	.navbar-custom.affix {
		padding: 10px 0;
		.navbar-brand {
			font-size: 1.5em;
		}
	}
	.navbar-toggle {
		display: none;
	}
}

section {
	padding: 100px 0;
	h2 {
		margin: 0;
		font-size: 3em;
	}
}

section.success {
	background: $theme-success;
	color: white;
}

@media(max-width:767px) {
	section {
		padding: 75px 0;
	}
	section.first {
		padding-top: 75px;
	}
}

footer {
	color: white;
	h3 {
		margin-bottom: 30px;
	}
	.footer-above {
		padding-top: 50px;
		background-color: $theme-primary;
	}
	.footer-col {
		margin-bottom: 50px;
	}
	.footer-below {
		padding: 25px 0;
		background-color: darken($theme-primary, 5%);
	}
}

// Buttons

.btn-outline {
	color: white;
	font-size: 20px;
	border: solid 2px white;
	background: transparent;
	transition: all 0.3s ease-in-out;
	margin-top: 15px;
	&:hover,
	&:focus,
	&:active,
	&.active {
		color: $theme-success;
		background: white;
		border: solid 2px white;
	}
}

.btn-primary {
	@include button-variant(white, $theme-primary, $theme-primary);
	font-weight: 700;
}

.btn-success {
	@include button-variant(white, $theme-success, $theme-success);
	font-weight: 700;
}

.btn-social {
	display: inline-block;
	height: 100px;
	width: 100px;
	border: 2px solid white;
	border-radius: 100%;
	text-align: center;
	font-size: 40px;
	line-height: 95px;
}

.btn:focus,
.btn:active,
.btn.active {
	outline: none;
}